body{
    background-image: url(Recursos/—Slidesdocs—green\ cartoon\ environmental\ agency\ simple_8b30991511.jpg);
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#logo{
    width: 150px;
    height: auto;
    margin: 10px 0 0 40px;
}

.mediumCont{
    margin: 30px 0;
    display: flex;
}

.enciptador{
    width: 60%;
    padding-left: 270px;
    padding-top:40px;
}

.enciptador textarea{
    width: 74%;
    height: 70%;
    resize: none;
    font-size: 35px;
    background: transparent;
    border: none;
    outline: none;
    color: #00504f;
}

::placeholder{
    color: #00504f;
}

.advertencia{
    margin-top: 10px;
    margin-left: 40px;
    margin-bottom: 20px;
    color: black; 
}

.botonesArea button{
    width: 150px;
    height: 50px;
    color: #ff9900;
    font-weight: bolder;
    border-radius: 24px;
    background:#00504f;
    transition: 500ms;
}

.botonesArea button:hover{
    background: #008d28;
    color: black;
}

.bDesencriptar,.bLimpiar{
    margin-left: 30px;
}

.tablon{
    width: 40%;
}

.tablonArea{
    text-align: center;
    background-color:#00504f;
    width: 300px;
    height: 500px;
    margin: 20px 0 20px 20px;
    border-radius: 20px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.8);
}

.logoCandado{
    width: 60%;
    margin-top: 80px;
}

.tablonArea p{
    color: #ff9900;
    margin:20px 30px 0 30px
}

.tablonArea .titulo{
    font-size: 32px;
    font-weight: bold;
}

.tablonArea .subtitulo{
    font-size: 20px;
}

.textoIn{
    display: none;
}

.noTexto{
    display: block;
}

.tablonArea textarea{
    margin: 20px auto 0 auto;
    width: 250px;
    height: 350px;
    resize: none;
    font-size: 20px;
    background: transparent;
    border: none;
    outline: none;
    color: #ff9900;
}

.botonCopiar{
    margin: 30px auto 0 auto;
    width: 200px;
    height: 60px;
    color: rgb(255, 255, 255);
    border-radius: 24px;
    font-weight: bold;
    background:#ff9900;
    transition: 500ms;
}

.botonCopiar:hover{
    background: #fec60e;
    color: black;
}

footer{
    width: 100%;
    height: fit-content;
}

.caja-footer{
    color: #00504f;
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    font-size: 30px;
}